body {
  margin: 0;
}

nav {
  width: 100%;
  height: 65px;
  background-color: #f5f5f5;
  opacity: 0.9;
  border-radius: 5px;
  position: fixed;
  margin-top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

ul {
  display: inline-block;
  position: absolute;
  list-style-type: none;
}

  li {
    display: inline-block;
    padding: 0px 5px 20px 5px;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 1.04em;
    text-align: center;
  }

  li a {
  text-decoration: none;
  color: black;
  padding: 8px 10px;
}

  li a:hover {
  background-color: #e6e8e7;
  color: black;
  border-radius: 6px;
}

  h1 {
    padding: 15% 35% 25% 15%;
    text-align: center;
    font-family: Raleway;
    font-size: 4.0em;
    font-weight: thin;
    background-image: url(back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px black solid;
    color: white;
  }


  .topics {
    padding: 3% 35px 39px 20px;
    font-family: roboto;
    font-size: 1.3em;
    margin: 0;
    font-weight: bolder;
    color: #299145;
    text-align: center;
  }

  h3 {
    padding: 4% 15px 3% 5.7%;
    font-family: roboto;
    font-size: 1.9em;
    margin: 0;
    font-weight: bolder;
  }

  p {
    padding: 10px 15px 35px 5%;
    font-family: nunito;
    font-size: 1.5em;
    margin-left: 15px;
    margin-right: 30%;
  }

  .inv {
    padding: 20px 15px 5% 15px;
    font-family: inter;
    font-size: 1.0em;
    margin: 0;
    font-weight: bold;
    text-align: center;
    color: #22572f;
  }

  .img1 {
    padding: 10px 0 10px 0;
    margin: 0 20% 0 27.5%;

  }
